body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: 123;
}

button {
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
}

